<div class="l-sidebar {{ modifier }}">

  {% if header %}
    <div class="l-sidebar__full">
      {% block header %}
        {{ header }}
      {% endblock %}
    </div>
  {% endif %}

  <div class="l-sidebar__main">
    {% block main %}
      {{ main }}
    {% endblock %}
  </div>

  {% if aside %}
    <aside class="l-sidebar__aside">
      <div class=" stickykit-container">
      {% block aside %}
        {{ aside }}
      {% endblock %}
      </div>
    </aside>
  {% endif %}

  {% if footer %}
    <div class="l-sidebar__full">
      {% block footer %}
        {{ footer }}
      {% endblock %}
    </div>
  {% endif %}

</div>