<section class="media-callout {{ modifier }}">
  <div class="media-callout__grid">
    <div class="media-callout__media">
      {{ media }}
    </div>
    <div class="media-callout__content">
      <h2>{{ heading }}</h2>
      {{ teaser }}
      {{ button }}
    </div>
  </div>
</section>