<section class="media-teaser">
  <div class="media-teaser__grid">
    <div class="media-teaser__image">
      {{ image }}
    </div>
    <div class="media-teaser__content">
      {% if url %}
        <h2 class="media-teaser__heading"><a href="{{ url }}">{{ heading }}</a></h2>
      {% else %}
        <h2 class="media-teaser__heading">{{ heading }}</h2>
      {% endif %}
      {{ teaser }}
    </div>
  </div>
</section>